project_name              = "study-aws-3-2"
aws_region                = "ap-northeast-1"
db_password               = "CHANGE_ME"
allowed_ssh_cidr          = "153.246.177.112/32"
bastion_key_name          = "ryo-key"
cloudfront_public_key_pem = "-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
cloudfront_private_key_pem = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
maintenance_mode_enabled  = false
